
$day: 28, 29, 30, 31;
$tile-size: 100px;

.calendar {
  display: flex;
  flex-flow: wrap;
  gap: 1px;
  align-items: flex-start;

  width: 700px;
  height: 400px;
  padding: 10px;
  
  @for $i from 1 through 31 {

    
    &__day:nth-child(#{$i})::before {
       $i: $i + 1;

      position: absolute;
      top: 50%;

      content: "#{$i}";

      display: flex;
      align-items: 50%;
      left: 50%;

      justify-content: center;   
      
      transform: translate(-50%, -50%);

      font-family: Arial, sans-serif;    
      font-size: 30px;
     
    }  

     

   }

   @for $days from 28 through 30 {

     &__month-length-#{$days} {
      &__day:nth-child(n + #{$days + 1}) {
        display: none;

      }
    }
  }


  &__day {
  position: relative;

  width: 98px;
  height: 98px;
  border: 1px;
  border-color: black;

  list-style-type: none;

  background-color: #eee;
  
  transition-duration: 0.5s;
  
  }

  &__day:hover {
    cursor: pointer;
    transform: translateY(-20px);
    background-color: #FFBFCB;
    

   }

  }

  

  